Repository ronin-rb/ronin-recon, pull requests merged in 2024-08, with the labels that each got.

#152 Add a SecurityTrails API worker
  lib/ronin/recon/builtin/api/security_trails.rb
  spec/builtin/api/security_trails_spec.rb
Labels: feature

#166 Add an optional worker for the `ZoomEye` API
  lib/ronin/recon/builtin/api/zoom_eye.rb
  spec/builtin/api/zoom_eye_spec.rb
Labels: feature, builtin

#167 Add an optional worker for the `hunter.io` API
  lib/ronin/recon/builtin/api/hunter_io.rb
  spec/builtin/api/hunter_io_spec.rb
Labels: feature, builtin

#156 Add support for multiple output files
  lib/ronin/recon/cli/commands/run.rb
  spec/cli/commands/run_spec.rb
Labels: feature, command-option

#168 Change `web/dir_enum` to yield `URL` values with a body
  lib/ronin/recon/builtin/web/dir_enum.rb
  spec/builtin/web/dir_enum_spec.rb
Labels: enhancement, dir-enum

#157 Add `web/screenshot` recon worker
  README.md
  gemspec.yml
  lib/ronin/recon/builtin/web/screenshot.rb
  spec/builtin/web/screenshot_spec.rb
Labels: feature, builtin

#161 Add a `Ronin::Recon::Config#to_yaml` method
  lib/ronin/recon/config.rb
  spec/config_spec.rb
  spec/fixtures/config/with_params_and_workers.yml
Labels: feature
